<form ng-submit="addHero(name, isSuper, isRich, isGenius)" novalidate>
    <h1>Add new person</h1>
    <input type="text" class="name-input"  placeholder="Name" ng-model="name" required>
    <input type="checkbox" ng-model="isSuper">Super power
    <input type="checkbox" ng-model="isRich">Rich
    <input type="checkbox" ng-model="isGenius">Genius
    <input type="submit" class="add-button" value="Add" >
</form>

<div ng-show="tableShow">
    <table class="table table-striped">
        <thead>
        <tr>
            <th ng-click="orderBy('name')"><span class="glyphicon glyphicon-chevron-down"></span>Name</th>
            <th ng-click="orderBy('name')"><span class="glyphicon glyphicon-chevron-down"></span>SuperPower</th>
            <th ng-click="orderBy('name')"><span class="glyphicon glyphicon-chevron-down"></span>Rich</th>
            <th ng-click="orderBy('name')"><span class="glyphicon glyphicon-chevron-down"></span>Genius</th>
            <th><span class="glyphicon glyphicon-chevron-down"></span>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="hero in heroesList | orderBy: orderingBy | filter: {genius: true} track by $index">
            <td>{{hero.name}}</td>
            <td><input type="checkbox" ng-model="hero.superPower" ng-change="sync()"></td>
            <td><input type="checkbox" ng-model="hero.rich" ng-change="sync()"></td>
            <td><input type="checkbox" ng-model="hero.genius" ng-change="sync()"></td>
            <td>
                <span ng-click="confirmToggle()" ng-if="!clicked" class="glyphicon glyphicon-remove"></span>
                <span ng-if="clicked">Are you sure (<span ng-click="removeHero(hero.name)">Yes</span> <span ng-click="confirmTgogle()">No</span>)</span>
            </td>
        </tr>
        </tbody>
    </table>
    <a ng-class="{ disabled : checkLinkSuper()}" href="/super">super</a>|
    <a ng-class="{ disabled : checkLinkRich()}" href="/rich">rich</a>|
    <a ng-class="{ disabled : checkLinkGenius()}" class="current" href="/genius">genius</a>
</div>
