<form ng-submit="$ctrl.addHero($ctrl.name, $ctrl.isSuper, $ctrl.isRich, $ctrl.isGenius)" novalidate>
    <h1>Add new person</h1>
    <input type="text" class="name-input"  placeholder="Name" ng-model="$ctrl.name" required>
    <input type="checkbox" ng-model="$ctrl.isSuper">Super power
    <input type="checkbox" ng-model="$ctrl.isRich">Rich
    <input type="checkbox" ng-model="$ctrl.isGenius">Genius
    <input type="submit" class="add-button" value="Add">
</form>

<div ng-show="$ctrl.tableShow">
    <table class="table table-striped">
        <thead>
        <tr>
            <th ng-click="$ctrl.orderBy('name')"><span class="glyphicon glyphicon-chevron-down"></span>Name</th>
            <th ng-click="$ctrl.orderBy('name')"><span class="glyphicon glyphicon-chevron-down"></span>SuperPower</th>
            <th ng-click="$ctrl.orderBy('name')"><span class="glyphicon glyphicon-chevron-down"></span>Rich</th>
            <th ng-click="$ctrl.orderBy('name')"><span class="glyphicon glyphicon-chevron-down"></span>Genius</th>
            <th><span class="glyphicon glyphicon-chevron-down"></span>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="hero in $ctrl.heroesList | orderBy: $ctrl.orderingBy | filter: {rich: true} track by $index">
            <td>{{hero.name}}</td>
            <td><input type="checkbox" ng-model="hero.superPower" ng-change="$ctrl.sync()"></td>
            <td><input type="checkbox" ng-model="hero.rich" ng-change="$ctrl.sync()"></td>
            <td><input type="checkbox" ng-model="hero.genius" ng-change="$ctrl.sync()"></td>
            <td>
                <span data-value="$index" ng-click="$ctrl.confirmToggle($index)" ng-show="!$ctrl.clicked" class="glyphicon glyphicon-remove"></span>
                <span data-value="$index" ng-show="$ctrl.clicked" >Are you sure (<span ng-click="$ctrl.removeHero(hero.name)">Yes</span> <span ng-click="$ctrl.confirmToggle($index)">No</span>)</span>
            </td>
        </tr>
        </tbody>
    </table>
    <a ng-class="{ disabled : $ctrl.checkLinkSuper()}" href="/super">super</a>|
    <a ng-class="{ disabled : $ctrl.checkLinkRich()}" class="current" href="/rich">rich</a>|
    <a ng-class="{ disabled : $ctrl.checkLinkGenius()}" href="/genius">genius</a>
</div>
